In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Data\\ML\\Regression\\Onehotencoding.csv")
df.head(3)

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000

In [3]:
dummies = pd.get_dummies(df.town, dtype=float)
dummies.head(3)

   monroe township  robinsville  west windsor
0              1.0          0.0           0.0
1              1.0          0.0           0.0
2              1.0          0.0           0.0

In [4]:
merged = pd.concat([df,dummies],axis='columns')
merged.head(3)

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000              1.0          0.0           0.0
1  monroe township  3000  565000              1.0          0.0           0.0
2  monroe township  3200  610000              1.0          0.0           0.0

In [5]:
final = merged.drop(['town', 'west windsor'], axis='columns')
final.head(3)

   area   price  monroe township  robinsville
0  2600  550000              1.0          0.0
1  3000  565000              1.0          0.0
2  3200  610000              1.0          0.0

In [6]:
x = final.drop('price', axis='columns')
x.head(3)

   area  monroe township  robinsville
0  2600              1.0          0.0
1  3000              1.0          0.0
2  3200              1.0          0.0

In [7]:
y = final.price
y.head(3)

0    550000
1    565000
2    610000
Name: price, dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")
model = LinearRegression()

In [9]:
model.fit(x,y)

LinearRegression()

In [10]:
model.score(x,y)

0.9573929037221873

In [11]:
model.predict([[3400,0,0]]) # 3400 sqr ft home in west windsor

array([681241.66845839])

In [12]:
model.predict([[2800,0,1]]) # 2800 sqr ft home in robbinsville

array([590775.63964739])

## Using sklearn One Hot Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle.head(3)

   town  area   price
0     0  2600  550000
1     0  3000  565000
2     0  3200  610000

In [15]:
X = dfle[['town','area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [16]:
y = dfle.price.values
y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000], dtype=int64)

In [17]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [18]:
X = ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [19]:
X = X[:,1:]
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [20]:
model.fit(X,y)

LinearRegression()

In [21]:
model.predict([[0,1,3400]]) # 3400 sqr ft home in west windsor

array([681241.6684584])

In [22]:
model.predict([[1,0,2800]]) # 2800 sqr ft home in robbinsville

array([590775.63964739])

In [23]:
model.score(X,y)

0.9573929037221874