In [11]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('D:\\Data\\ML\\Regression\\LinearRegression_Multiple.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000
5  4100       6.0    8  810000

In [4]:
df.bedrooms.median()

4.0

In [5]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000
5  4100       6.0    8  810000

In [7]:
x = df.drop("price", axis = "columns")
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [8]:
y = df.price
y

0    550000
1    565000
2    610000
3    680000
4    725000
5    810000
Name: price, dtype: int64

In [9]:
reg = linear_model.LinearRegression()
reg.fit(x, y)

LinearRegression()

In [16]:
pre = reg.predict([[3000, 3, 20]])
pre

array([563304.97466223])

In [17]:
x_test = df = pd.read_csv('D:\\Data\\ML\\Regression\\LinearRegression_Multiple_predict.csv')
x_test

   area  bedrooms  age
0  2600         3   15
1  3000         4   20
2  3200         3   18
3  4200         3   30
4  4000         5    9
5  4500         6    8

In [18]:
y_pre = reg.predict(x_test)
y_pre

array([493605.21406832, 616681.39353981, 576702.27549071, 748568.05703454,
       732277.07667792, 838215.70715424])

In [19]:
x_test["predicted_price"] = y_pre

In [20]:
x_test

   area  bedrooms  age  predicted_price
0  2600         3   15    493605.214068
1  3000         4   20    616681.393540
2  3200         3   18    576702.275491
3  4200         3   30    748568.057035
4  4000         5    9    732277.076678
5  4500         6    8    838215.707154

In [21]:
x_test.to_csv("D:\\Data\\ML\\Regression\\LinearRegression_Multiple_predict_out.csv")